body {
  overflow-x: hidden;
}

/* #region images */

header {
  background-image: url("images/header-image.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_graphics {
  background-image: url("images/header-graphics.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* #endregion images */
