body {
  overflow-x: hidden;
}

/* #region images */

header {
  background-image: url("images/header-image.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_graphics {
  background-image: url("images/header-graphics.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages_card_graphics {
  background-image: url("images/advantages-card-graphics.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product_graphics {
  background-image: url("images/product-graphics.webp");
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* #endregion images */
